<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>ENTREPRISE MADERA</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="./js/library.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div id="app_burger_menu">
          <img  src="img/menu.png" v-on:click="cloak" class="logoBurMen">
          <template v-if="isActive=='True'">
            <ul>
                <li><a href="index.html" >ACCEUIL</a></li>
                <li><a href="#paragraphe" >L'ENTREPRISE</a></li>
                <li><a href="#">CONTACTEZ-NOUS</a></li>
                <li><a href="#">NOUS REJOINDRE</a></li>
            </ul>
          </template>
        </div>

        <div class="listnav">
          <div>
            <img src="img/logo.png" class="logo">
          </div>
          <div >
            <ul>
                <li><a href="index.html" >ACCEUIL</a></li>
                <li><a href="index.html" >L'ENTREPRISE</a></li>
                <li><a href="#">NOUS REJOINDRE</a></li>
            </ul>
          </div>

        </div>


      </nav>
    </header>
      <div >
              <div class="separation">

              </div>

                <div id="form">
                  <h2>Nous rejoindre</h2>
                    <form id="app_form" action="#" method="post" >
                        <div id="label">
                            <label for="name">Nom :</label>
                            <label for="name">Prénom :</label>
                            <label for="mail">E-mail :</label>
                            <label for="msg">Lettre de motivation :</label>
                        </div>
                        <div id="input">
                            <input v-model="name" @change="persist">
                            <input v-model="firstname" @change="persist">
                            <input v-model="mail" @change="persist">
                            <textarea id="msg" name="user_motiv"></textarea>
                        </div>
                        <div class="button">
                            <button type="submit" id="submitButton" onclick="sumbitButtonOnClick()">Envoyer le message</button>
                        </div>

                    </form>
                    <p><a href="index.html">Retour à la page précédente…</a></p>
                </div>

  </body>
  <script src="js/scriptp2.js"></script>
</html>
